$tablet: 768px;
$desktop: 1024px;

@mixin isTablet {
    @media (min-width:$tablet) {
        @content;
        .flex-container .div2 {
    width: 300px;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 205px;
  }
  .logo {
    width: 60px;
  height: 80px;
  margin-left: 70px;
  margin-top: 210px;
  }
  
    }

}
@mixin isDesktop {
    @media (min-width:$desktop) {
        @content;
        .flex2 {
            justify-content:center;
        }
        .button2 {
      display: block;
    }
    }
    
}
